.header{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgb(16, 0, 235) 0%, rgb(250, 5, 5) 100%);
color:  rgba(255,0,0,1);
}
input{
    padding: 7px;
    margin-top:20px;
    width: 25vw;
    height: 5vh;
    border: 2px solid ;
    border-radius: 1.5vw;
}
input:hover{
    background-color: aqua ; 
}